@import '../../../styles/variables';

header {
  .header-text {
    position: absolute;
    top: 0;
    font-family: $primaryFont;
    background-color: transparent;
    color: $secondaryColor;
  }

  h1 {
    font-weight: bold;
  }

  h1, h3 {
    margin: 0;
    padding: .5rem 0rem 0rem 1rem;
  }

  h3 {
    padding: .3rem 0rem 0rem 1rem;
  }

  .dropdown-container {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dropdown-menu {
    padding: 0;
  }

  .dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
    border-radius: 100%;
    padding: 0 !important;
    margin: .7rem 1rem 0rem 0rem;
  }

  .dropdown-toggle:focus {
    background-color: transparent !important;
    border: none !important;
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .thumbnail-image {
    width: 3rem;
    border-radius: 100%;
    border: 1px solid $secondaryColor;
    margin: 0;
  }

  .nav-link {
    display: block;
    font-family: $primaryFont;
    color: $primaryColor;
  }

  .nav-link:nth-child(odd) {
    background-color: #F5F5F5;
  }
}