@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@@400;700&display=swap');

$primaryColor: #116466;
$secondaryColor: #d6eced;

$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'Montserrat', sans-serif;
