@import '../../../styles/variables';
@import '../../../styles/mixins';

.basket {
  h5 {
    text-align: right;
    font-family: $primaryFont;
    color: $primaryColor;
    font-size: 1.1rem;
    margin-right: 1rem;
  }

  .money {
    text-decoration: underline;
    font-family: $secondaryFont;
    font-weight: normal;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  button {
    @include button;
    margin-left: .2rem;
    margin-right: .2rem;
  }

  .no-products {
    text-align: center;
    color: $primaryColor;
    font-family: $primaryFont;
    margin-top: 3rem;
  }

  .progress-top {
    margin: 2rem;
  }
}